{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea principal 1</h1>
  			</div>
		</div>
	</div>
</section>
			
<section  class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Distribución de Asistentes y Depósitos por Evento</h4>
          	</div>     
		</div>
		<div id="cont">
			<table>
				<tr><td colspan="2">
						<select id="seleccion" oninput=" if(this.value == 1) {
								 document.getElementById('parsDepos').style.display = 'none';
								 document.getElementById('parsAsis').style.display = '';
							}
							 else {
								document.getElementById('parsAsis').style.display = 'none';
								document.getElementById('parsDepos').style.display = ''; 
							}"> 
							<option value="1" selected="selected">Asistentes
							<option value="2">Depósitos en $	
						</select>
					</td>
				</tr>
				<tr id="parsAsis"><td>Eventos hasta <a id="numAsis"></a>
					<input id="rangAsis" type=range min="0" max="10000" step="1000" oninput="document.getElementById('numAsis').innerHTML = this.value;" ></td><td>asistentes</td>
				</tr>
				<tr id="parsDepos"><td>Eventos hasta <a id="numDepos"></a>
					<input id="rangDepos" type=range  min="0" max="40000000" step="1000000" oninput="document.getElementById('numDepos').innerHTML = this.value;" ></td><td>$</td>
				</tr>
			</table>

			<div id="chart"></div>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/tp1.js' %}" > </script>
		</div>
		
	</div>
</section>
	    

{% endblock tarea %}