{% extends "eventtia/template.html" %}
{% load staticfiles %}
{% block tarea %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.7.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.10"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5.1.3"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea principal 2</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Explorar el tiempo requerido para completar un porcentaje de asistencia para iniciar un evento por país o por día de la semana. </h4>
       
          	</div>     
		</div>
		
		<!--div id="chart">
			<img src="{% static 'eventtia/images/tp_2.jpg' %}">
    	</div-->

		<div id="vis"></div>

		<script type="text/javascript">
		  var dataCSV = "https://raw.githubusercontent.com/omarrojas/omarrojas.github.io/master/eventtia/SalidaTP2.csv";
		  d3.csv(dataCSV)
				.then(function(data) {
					var yourVlSpec = {
				data: {values: data},
				title: '% attendees arrives between on time and delay minutes',
				width: 800,
				height: 350,
				mark: 'rect',
				encoding: {
					x: { field: 'delay', 
							type: "ordinal",
							sort: "y",
							"axis": {
							"title": "Delay (minutes)"
							}
						},
					y: { field: 'porc_attendees_acum', type: 'quantitative' ,
							"axis": {
							"title": "%attendees"
							}}
					},
    				tooltip: {"field": "porc_attendees_acum", "type": "quantitative"},
					selection: {
						"weekday": {
							"type": "single",
							"fields": ["week_day"],
							"bind": {"input": "select",       "name": "Weekday ",
								"options": [
									"All",
									"Monday",
									"Tuesday",
									"Wednesday",
									"Thursday",
									"Friday",
									"Saturday",
									"Sunday"
									]
								}
							},
						"country": {
							"type": "single",
							"fields": ["country_name"],
							"bind": {"input": "select",       "name": "Country ",
								"options": [null, "Colombia",
								"Chile",
								"France",
								"Mexico",
								"Spain"
									]
								}
							}
						},
					transform: [{
					filter: {field: "country_name", selection: "country"}
						}]  
				}
				;
					vegaEmbed('#vis', yourVlSpec);
				})
				.catch(function(error){
					// handle error   
				})
	
		</script>
	
		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/tp2.js' %}" > </script>		
	</div>
</section>
	    

{% endblock tarea %}