
{% extends "eventtia/template.html" %}

{% load static %}

{% load staticfiles %}

{% block tarea %}


<style>
.grid {
    stroke: #9A8B7A;
	stroke-width: 1px; fill: #55807e;
} 
.arc {
    stroke: #9A8B7A;
	fill: none;
}
.node {    
	fill: #c1ebea;
	stroke:#7a9a92; 
	stroke-width: 1px;
}
</style>

<script src="{% static 'eventtia/js/bootstrap.min.js' %}"></script>



<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea principal 3</h1>
  			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    		<h4 class="heading mb-3">Empresa de Eventos Eventtia</h4>	
		<p> Eventtia cuidando su negocio, anonimizó los datos que nos suministró, por lo cual los datos visualizados son anonimos.</p>
		<p> Eventtia provee un servicio en la cúal pagando una suscripción se puede gestionar un evento. </br> 
		En la plataforma no se maneja un ID general del asistente, sino un IDE por evento. 
		De tal manera no se puede relacionar a los asistentes de los diferentes eventos.</br>
	        Por lo anterior, se realizó la relación de los asistente por el <strong>e-mail</strong>	</p>
                <p> Los eventos no tienen un tipo categorico, por lo tanto se tomó la descripción de cada evento y se categorizaron los eventos.</p>
                <p>Con el anterior tratamiento de los datos, se puede visualizar a cuales eventios y que tipo de eventos asistio un asistente especifico.</p>
                
        </div>
	</div>

  	<div class="container">
    	<div class="row">
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar a cuáles eventos participó un asistente en un año dado</h4>
          	</div>  
		</div>

		<div class="row">
			<div class="col-sm-12" style="border: solid 1px #000">		
				 <form method="post" action="tp3"> 
				  	{% csrf_token %}
				  	{{ formset }}
					<label for="rangeVal"> Participantes que han asistido a mas de :</label>
				    <input type ="range" max="15" min="2"
				        oninput="document.getElementById('rangeValLabel').innerHTML = this.value;"
				        step="1" name="rangeVal" id="rangeVal" value="{%if amountEven is not null%}{{amountEven}}{%else%}2{%endif%}">
				    </input>
				    <em id="rangeValLabel" style="font-style: normal;">{%if amountEven is not null%}{{amountEven}}{%else%}2{%endif%}</em>
				    <label for="enviar"> Eventos </label>
				  	<button id="enviar" type="submit" class="btn btn-primary">Visulaizar</button>			
				 </form> 
				 
				<script type="text/javascript" > 
					function updateTextInput(val) {
			          document.getElementById('rangeValLabel').value=val; 
			        }
		        </script>
			</div>		
					
		</div>		
		
		<div class="row"> 
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Participantes por Evento  {% if buscado is not null%}  año {{buscado}}, han asistido a más de {{amountEven}} Eventos {%endif%}</h4>
          	</div> 
		</div>
		
		
		<div class="row"> 
		  <svg id="container" height={{sizeX_VIZ}} width="1500"  style="border: solid 1px #000">
				<g id="bodyVIZ" ></g>
		  </svg>
		</div>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>

		

{%if nodelist is not null %}

		

<script type="text/javascript" > 

	console.log("inicia VIZ TP3")	

	/*Promise.all([  
		d3.csv("static/eventtia/d3/tp3_nodelist.csv"),  
		d3.csv("static/eventtia/d3/tp3_edgelist.csv")
    ]).then(function(data){ 
      createAdjacencyMatrix(data);
    });*/

    createAdjacencyMatrix();
	
    function createAdjacencyMatrix(){

    let nodes = {{nodelist | safe}}
    let edges = {{edgelist | safe}}

    //let nodes = data[0];
    //let edges =data[1];   

    //console.log('nodes',nodes);
    //console.log('edges',edges);

		var colorScale = d3.scaleOrdinal(d3.schemeCategory10);

		var width = 400
		var height = 400
		var widthSquare=15
		var widthSquareDiv2=7.5
		var edgeHash = {};

		edges.forEach(edge =>{

			var id = edge.source + "-" + edge.target
			edgeHash[id] = edge

		})

		//console.log(edgeHash)	
			

		var matrix = []

		let i=1;

		nodes.forEach((source, a) => {
			if(source.role =="participante"){
				let j=1;
				nodes.forEach((target, b) => {
					if(target.role =="evento"){
						var grid = {"id": target.id + "-" + source.id, "x": j, "y": i, "weight": 0, "type":target.type};
						j++;
						if(edgeHash[grid.id]){
							grid.weight = edgeHash[grid.id].weight;
						}
						matrix.push(grid);
					}
				})
				i++;
			}
		})		

		console.log('matrix',matrix)		



	var bodyVIZ = d3.select("svg").select("#bodyVIZ")	
	
	bodyVIZ.attr("transform","translate(155,60)")
	
	bodyVIZ
	.append("text")
	.text("Participantes")
	.style("text-anchor","start")
	.style("font-size","14px")
	.style("font-weight","bold")
	.attr("x",-125)
	.attr("y",25)
	
	bodyVIZ
	.append("text")
	.text("Eventos")
	.style("text-anchor","start")
	.style("font-size","14px")
	.style("font-weight","bold")
	.attr("x",70)
	.attr("y",-40)

	bodyVIZ.append("g")
		.attr("transform","translate(35,20)")
		.attr("id","adjacencyG")
		.selectAll("rect")
		.data(matrix)
		.enter()
		.append("rect")		
		.attr("class","grid")
		.attr("width",widthSquare)
		.attr("height",widthSquare)
		.attr("x", d=> d.x*widthSquare)
		.attr("y", d=> d.y*widthSquare)
		.style("fill", function(d){
				if(d.weight==0){
					return "rgb(245,245,245)";
				}else{
					return colorScale(d.type);
				}
			} 
		      )
		.append("title")
            .text(function(d) {
                return "Evento tipo: "+d.type;
            })
		

	bodyVIZ.append("g")
		.attr("transform","translate(50,30)")
		.selectAll("text")
		.data(nodeEventos(nodes))
		.enter()
		.append("text")
		.attr("transform", function(d,i){
			var vx = i * widthSquare + widthSquareDiv2+5;
			return "translate("+vx+",-5) rotate(300)";			
		 })
		.text(d => "Evento "+d.id)
		.style("text-anchor","start")
		.style("font-size","10px")//*/


	bodyVIZ.append("g")
		.attr("transform","translate(-150,37)")
		.selectAll("text")
		.data(nodeParticipantes(nodes))
		.enter()
		.append("text")
		.attr("y",(d,i) => i * widthSquare + widthSquareDiv2)
		.text(d => d.id)
		.style("text-anchor","start")
		.style("font-size","10px")


	d3.selectAll("rect.grid").on("mouseover", gridOver); 
	

	function nodeEventos(nodes){
			return nodes.filter(function (d){ 
				return d.role =="evento";	
			})
	}


	function nodeParticipantes(nodes){
			return nodes.filter(function (d){ 
				return d.role =="participante";		
			})
	}
	

	function gridOver(d) {
		d3.selectAll("rect").style("stroke-width", function(p) { return p.x == d.x || p.y == d.y ? "3px" : "1px"});
	};

 };

</script>	

{%endif%}

</div>

<div class="container">
    <div class="row">   
    	<h4 class="heading mb-3">Vizualización</h4>
    		<p><strong>Parametros: </strong>Se deben seleccionar el año y la cantidad minima de eventos a la que participa un participante. Luego presionar el botón "Vizualizar" </p>
    		<p><strong>Descripción: </strong>En el eje de las "Y" se muestran los correos de los asistentes organizados alfabeticamente, en el eje de las "X" se muestran los eventos organizados alfabeticamente.</br>
    			Si un asistente, asistió a un evento la intersección se colorea.</br>
    			Los diferentes colores, son los diferentes tipos de eventos.
    		</p>
			<p><strong>Interactividad:</strong> Al colocar el puntero del mouse, sobre una intersección se muestra un tooltip con el tipo del evento. </p>
			<p><strong>Nota: </strong>Los datos están anonimizados para proteger los datos de la empresa. La VIZ está configurado para mostrar maximo 100 asistentes por 45 eventos maximos. Y de 2 a 15 cantidad de asistencias</p>
	</div>
</div>
<div class="container">
	<div class="row">    
		<h4 class="heading mb-3">Preparación de datos</h4>		
		 <iframe src="{% static 'eventtia/html/tp3_preparacionDatos.html' %}" name="iframe_a" height="100%" width="100%"></iframe>
		
	</div>
</div>
</section>

{% endblock tarea %}
