
{% extends "eventtia/template.html" %}

{% load static %}

{% load staticfiles %}

{% block tarea %}


<style>
.grid {
    stroke: #9A8B7A;
	stroke-width: 1px; fill: #55807e;
} 
.arc {
    stroke: #9A8B7A;
	fill: none;
}
.node {    
	fill: #c1ebea;
	stroke:#7a9a92; 
	stroke-width: 1px;
}
</style>

<script src="{% static 'eventtia/js/bootstrap.min.js' %}"></script>



<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea principal 3</h1>
  			</div>
		</div>
	</div>
</section>

			

<section class="ftco-section">
  	<div class="container">
    	<div class="row">
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar a cuáles eventos participó un asistente en un mes dado</h4>
          	</div>  
		</div>

		<div class="row">
			<div class="col-sm-4">		
				 <form method="post" action="tp3"> 
				  {% csrf_token %}
				  {{ formset }}
				  <input type="submit"/>
				 </form> 
			</div>		
					
		</div>		
		
		<div class="row"> 
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Participantes por Evento  {% if buscado is not null%} , mes {{buscado}} {%endif%}</h4>
          	</div> 
		</div>
		
		
		<div class="row"> 
		  <svg id="container" height="500" width="600"  style="border: solid 1px #000">

				<g id="bodyVIZ" style="transform:translate(100,100px)"></g>

				<g id="yAxis"></g>

				<g id="xAxis"></g>

				<g id="yLine"></g>   		

		  </svg>
		</div>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>

		

{%if nodelist is not null %}

		

<script type="text/javascript" > 

	console.log("inicia VIZ TP3")	

	/*Promise.all([  
		d3.csv("static/eventtia/d3/tp3_nodelist.csv"),  
		d3.csv("static/eventtia/d3/tp3_edgelist.csv")
    ]).then(function(data){ 
      createAdjacencyMatrix(data);
    });*/

    createAdjacencyMatrix();
	
    function createAdjacencyMatrix(){

    let nodes = {{nodelist | safe}}
    let edges = {{edgelist | safe}}

    //let nodes = data[0];
    //let edges =data[1];   

    //console.log('nodes',nodes);
    //console.log('edges',edges);

		

		var width = 400

		var height = 400

		var widthSquare=15

		var widthSquareDiv2=7.5

		var edgeHash = {};

		edges.forEach(edge =>{

			var id = edge.source + "-" + edge.target

			edgeHash[id] = edge

		})

		//console.log(edgeHash)	
			

		var matrix = []

		let i=1;

		nodes.forEach((source, a) => {	

			if(source.role =="participante"){				

				let j=1;

				nodes.forEach((target, b) => {

					if(target.role =="evento"){						

						var grid = {"id": target.id + "-" + source.id, "x": j, "y": i, "weight": 0};

						j++;						

						if(edgeHash[grid.id]){

							grid.weight = edgeHash[grid.id].weight;							

						}						

						matrix.push(grid)

					}				

				})

				i++;

			}			

		})		

		//console.log('matrix',matrix)		



	var svg = d3.select("svg")	

	d3.select("svg").append("g")

		.attr("transform","translate(35,35)")

		.attr("id","adjacencyG")

		.selectAll("rect")

		.data(matrix)

		.enter()

		.append("rect")

		.attr("class","grid")

		.attr("width",widthSquare)

		.attr("height",widthSquare)

		.attr("x", d=> d.x*widthSquare)

		.attr("y", d=> d.y*widthSquare)

		.style("fill-opacity", d=> d.weight * .2)//*/

		

	d3.select("svg")

		.append("g")

		.attr("transform","translate(50,45)")

		.selectAll("text")

		.data(nodeEventos(nodes))

		.enter()

		.append("text")

		.attr("x", (d,i) => i * widthSquare + widthSquareDiv2)

		.text(d => d.id)

		.style("text-anchor","middle")

		.style("font-size","10px")//*/

		

	d3.select("svg")

		.append("g").attr("transform","translate(45,50)")

		.selectAll("text")

		.data(nodeParticipantes(nodes))

		.enter()

		.append("text")

		.attr("y",(d,i) => i * widthSquare + widthSquareDiv2)

		.text(d => d.id)

		.style("text-anchor","end")

		.style("font-size","10px")


	d3.selectAll("rect.grid").on("mouseover", gridOver); 
	

	function nodeEventos(nodes){
			return nodes.filter(function (d){ 
				return d.role =="evento";	
			})
	}


	function nodeParticipantes(nodes){
			return nodes.filter(function (d){ 
				return d.role =="participante";		
			})
	}
	

	function gridOver(d) {
		d3.selectAll("rect").style("stroke-width", function(p) { return p.x == d.x || p.y == d.y ? "3px" : "1px"});
	};

 };

</script>	

{%endif%}

</div>

</section>

{% endblock tarea %}
