{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.7.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.10"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5.1.3"></script>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 2_2</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar la distribución del promedio de asistentes a lo largo de periodos de 15 minutos en demoras de registro posteriores a la llegada a los eventos por país o por día de la semana.</h4>
       
          	</div>     
		</div>

		<!--div id="chart">
			<img src="{% static 'eventtia/images/ts_2_2.jpg' %}">
		</div-->

		<div id="vis"></div>

		<script type="text/javascript">
//		  var dataCSV = "https://raw.githubusercontent.com/omarrojas/omarrojas.github.io/master/eventtia/SalidaTarea2.csv"
		  var dataJSON = "/ts2_2_backend?countryname=All&weekday=All";
		  d3.json(dataJSON)
				.then(function(data) {
					console.log(data)
					var yourVlSpec = {
						"title": 'Demora por día de la semana y país',
//						"title": 'Delay time by weekday and country',
						"data": {values: data},
						"width": 800,
						"height": 350,
						"mark": "line",
						"encoding": {
							"x": {"field": "demora15min", "type": "ordinal", "sort": {"field": "range_order"},
								"axis": {
									"title": "Demora (minutes)"
//									"title": "Delay (minutes)"
									}
								},
							"y": {"field": "attendees", "aggregate": "mean", "type": "quantitative", "title": "Promedio de asistentes"},
							"color": {"field": "nom_week_day", "type": "nominal", "title": "Día de la semana"},
							"tooltip": [
									{"field": "country_name", "type": "nominal", "title": "País"}, 
									{"field": "nom_week_day", "type": "nominal", "title": "Día de la semana"}, 
									{"field": "demora15min", "type": "ordinal", "title": "Demora en minutos"},
									{"field": "attendees", "type": "quantitative", "title": "Promedio de asistentes"}
								]    

						},
							selection: {
												"weekday": {
													"type": "single",
													"fields": ["nom_week_day"],
													"bind": {"input": "select",       "name": "Día de la semana ",
//													"bind": {"input": "select",       "name": "Weekday ",
														"options": [
															null,
															"Mon",
															"Tue",
															"Wed",
															"Thu",
															"Fri",
															"Sat",
															"Sun"
															]
														}
													},
								"country": {
									"type": "single",
									"fields": ["country_name"],
									"bind": {"input": "select",       "name": "País ",
//									"bind": {"input": "select",       "name": "Country ",
										"options": [
										null,
										"Argentina",
										"Brazil",
										"Chile",
										"Colombia",
										"Dominican Republic",
										"Ecuador",
										"France",
										"Ivory Coast",
										"Jordan",
										"Mexico",
										"Netherlands",
										"Portugal",
										"Spain",
										"United Kingdom",
										"United States",
										"Uruguay",
										"Vietnam"
											]
										}
									}

								},
							transform: [{
									filter: {field: "country_name", selection: "country"}
								},
								{
									filter: {field: "nom_week_day", selection: "weekday"}
								}               ]  
						}
				;
					vegaEmbed('#vis', yourVlSpec);
				})
				.catch(function(error){
					// handle error   
				})
	
		</script>
	
		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/ts2_2.js' %}" > </script>
		
	</div>
	<div class="container">
		<div class="row">   
			<h4 class="heading mb-3">Información Vizualización</h4>
				<p><strong>Parámetros: </strong>Inicialmente debe seleccionarse un país para que la visualización 
					presente tan solo los datos de este país y la visualización tenga sentido.<br>
				Igualmente se puede seleccionar el día de la semana para reducir a una sola línea la 
			visualización para facilitar su lectura.</p>
				<p><strong>Descripción: </strong>En el eje de las "Y" se muestra el número promedio de asistentes
					y en el eje X, rangos de demora de 15 minutos a partir de la hora programada de registro.</br>
					Los diferentes colores, representan un día de la semana.
				</p>
				<p><strong>Interactividad:</strong> Al colocar el puntero del mouse, sobre una intersección se muestra 
					un tooltip con el nombre del país, el día de la semana, el número promedio de asistentes y el rango de demora
					correspondiente. </p>
					<p><strong>Autor: </strong>Omar Rojas García</p>
					<p><strong>Fuente: </strong>Los datos fueron suministrados por Eventtia</p>
		</div>
	</div>	
</section>
	    

{% endblock tarea %}