{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.7.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.10"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5.1.3"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 2_1</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar patrón de comportamiento en cuanto a demora promedio de llegada a los eventos por tipo de asistente. </h4>
       
          	</div>     
		</div>
		<!--div id="chart">
				<img src="{% static 'eventtia/images/ts_2_1.jpg' %}">
		</div-->

		<div id="vis"></div>

		<script type="text/javascript">
		  var dataJSON = "/ts2_1_backend?attendeetypename=All";
//		  var dataCSV = "https://raw.githubusercontent.com/omarrojas/omarrojas.github.io/master/eventtia/SalidaTarea2.csv"
		  d3.json(dataJSON)
				.then(function(data) {
					console.log(data)
					var yourVlSpec = {
						"title": 'Demora por tipo de asistente',
//						"title": 'Delay time by attendee type',
						"data": {values: data},
						"width": 800,
						"height": 350,
						"mark": "line",
						"encoding": {
							"x": {"field": "demora15min", "type": "ordinal", "sort": {"field": "range_order"},
								"axis": {
									"title": "Demora (minutos)"
//									"title": "Delay (minutes)"
									}
								},
							"y": {"field": "attendees", "aggregate": "mean", "type": "quantitative", "title": "Promedio de asistentes"},
							"color": {"field": "attendee_type_name", "type": "nominal", "title": "Tipo de asistente"},
							"tooltip": [
									{"field": "attendee_type_name", "type": "nominal", "title": "Tipo de asistente"},
									{"field": "demora15min", "type": "ordinal", "title": "Demora en minutos"},
									{"field": "attendees", "type": "quantitative", "title": "Promedio de asistentes"}
								]    
						},
						"selection": {
												"attendee_type": {
													"type": "single",
													"fields": ["attendee_type_name"],
													"bind": {"input": "select",       "name": "Tipo de asistente ",
//													"bind": {"input": "select",       "name": "Attendee Type ",
														"options": [
															null,
															"Asistant",
															"Buyers",
															"Consultant",
															"Exhibitors",
															"Regulators",
															"Sellers",
															"Sponsors",
															"Staff",
															"Student",
															"Visitors",
															]
														}
													}
						},
						"transform": [{
							"filter": {"field": "attendee_type_name", "selection": "attendee_type"}
								}]
						}
				;
					vegaEmbed('#vis', yourVlSpec);
				})
				.catch(function(error){
					// handle error   
				})
	
		</script>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/ts2_1.js' %}" > </script>			
	</div>
	<div class="container">
		<div class="row">   
			<h4 class="heading mb-3">Información Vizualización</h4>
				<p><strong>Parámetros: </strong>Se puede seleccionar un tipo de asistente para filtrar
					la visualización y que esta sólo presente tan solo los datos de este tipo de 
					asistente.</p>
				<p><strong>Descripción: </strong>En el eje de las "Y" se muestra el número promedio de asistentes
					y en el eje X, rangos de demora de 15 minutos a partir de la hora programada de registro.</br>
					Los diferentes colores, representan un tipo de asistente.
				</p>
				<p><strong>Interactividad:</strong> Al colocar el puntero del mouse, sobre una intersección se muestra 
					un tooltip con el tipo de asistente, el número promedio de asistentes y el rango de demora
					correspondiente.</p>
					<p><strong>Autor: </strong>Omar Rojas García</p>
					<p><strong>Fuente: </strong>Los datos fueron suministrados por Eventtia. En este caso,
					el tipo de asistente es considerado por Eventtia como un dato sensible, por lo que los
					datos presentados no corresponden a la realidad sino a una asignación a partir de un dato
					enmascarado.
			</p>
		</div>
	</div>
</section>
	    

{% endblock tarea %}