{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.7.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.10"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5.1.3"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 2_2</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar  distribución  de demoras promedio de llegada a los eventos por país o por día de la semana.</h4>
       
          	</div>     
		</div>

		<!--div id="chart">
			<img src="{% static 'eventtia/images/ts_2_2.jpg' %}">
		</div-->

		<div id="vis"></div>

		<script type="text/javascript">
//		  var dataCSV = "https://raw.githubusercontent.com/omarrojas/omarrojas.github.io/master/eventtia/SalidaTarea2.csv"
		  var dataJSON = "https://viz201920.herokuapp.com/ts2_2_backend?countryname=All&weekday=All";
		  d3.json(dataJSON)
				.then(function(data) {
					console.log(data)
					var yourVlSpec = {
						"width": 300, "height": 200,
						"data": {"url": "https://raw.githubusercontent.com/omarrojas/omarrojas.github.io/master/eventtia/SalidaTarea2.csv"},
						"mark": "line",
						"selection": {
							"weekday": {
							"type": "multi", "fields": ["nom_week_day"], "bind": "legend"
							}
						},
						"encoding": {
							"x": {"field": "demora15min", "type": "ordinal", "sort":["0", "15", "30", "45", "60", "75", "90", "105", "120", ">120"],
								"axis": {
									"title": "Delay (minutes)"
									}
								},
						"y": {
							"aggregate": "sum", "field": "attendees", "type": "quantitative",
							"stack": "center", "axis": null
							},
							"color": {
							"field":"nom_week_day", "type": "nominal",
							"scale": {"scheme": "category10"}
							},
							"opacity": {
							"condition": {"selection": "weekday", "value": 1},
							"value": 0.2
							}
						}
						};
					vegaEmbed('#vis', yourVlSpec);
				})
				.catch(function(error){
					// handle error   
				})
	
		</script>
	
		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/ts2_2.js' %}" > </script>
		
	</div>
</section>
	    

{% endblock tarea %}