{% extends "eventtia/template.html" %}
{% load staticfiles %}
{% block tarea %}

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 3.1</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar el tema de más interés de los participantes, para un año dado. </h4>
       
          	</div>     
		</div>
		
		<div class="row"> 
		
		  <img src="{% static 'eventtia/images/ts_3_1.jpg' %}">
		
		</div>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.min.js' %}"> </script>
		<script type="text/javascript" src="{% static 'eventtia/d3/ts3_1.js' %}" > </script>
		
	</div>
</section>
	    

{% endblock tarea %}
