{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}
<style>
path.active {
  fill: pink;
}
circle.active {
  fill: black;
}
pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
}
</style>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 3.2</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">
  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Determine una zona geográfica donde más se realizan eventos, en un año dado</h4>
       
          	</div>     
		</div>
		
		<div class="row">
			<div class="col-sm-12" style="border: solid 1px #000">		
				 <form id="formulario" method="post" action="ts3_2"> 
				  {% csrf_token %}
				  {{ formset }}
				  <button type="submit" class="btn btn-primary">Visulaizar</button>				  
				 </form> 
			</div>		
					
		</div>		
		
		<div class="row"> 
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Ubicación de Eventos  {% if buscado is not null%} , año {{buscado}} {%endif%}</h4>
          	</div> 
		</div>
	
		<div class="row"> 			
			<div id="contenedor"  style="border: solid 1px #000">
				<g id="bodyVIZ""></g>				
    		</div>
				  		
		</div>
		
		 <div class="row">
	        <h4 id="consola" style="color: black">
	            "Seleccione un area en el mapa."
	        </h4>
    	</div>
		
	</div>
	
	<div class="container">
	    <div class="row">   
	    	<h4 class="heading mb-3">Vizualización</h4>
	    		<p><strong>Parametros: </strong>Se deben seleccionar el año y opcionalmete el <strong>email</strong> de un participante. Luego presionar el botón "Vizualizar" </p>
		        <p><strong>Descripción: </strong>Si se diligenció un <strong>email</strong> se muestran los datos de ese asistente. Si no se muestran los datos de asistencia en general.</br>
			    Las área de cada circulo, son proporcionales por asistencias</br>
	    	            Los diferentes colores, son los diferentes tipos de eventos.
	    		</p>
			<p><strong>Interactividad:</strong> Al colocar el puntero del mouse, sobre un circulo se muestra un tooltip con el tipo del evento y la cantidad de asistencias. </p>
			<p><strong>Nota: </strong>Los datos están anonimizados para proteger los datos de la empresa.</p>
		</div>
	</div>
	<div class="container">
		<div class="row">    
			<h4 class="heading mb-3">Preparación de datos</h4>		
			 <iframe src="{% static 'eventtia/html/ts32_preparacionDatos.html' %}" name="iframe_a" height="100%" width="100%"></iframe>
			
		</div>
	</div>
</section>
	    
<script type="text/javascript" src="{% static 'eventtia/d3/d3.js' %}"> </script>
{%if countEventList is not null %}												  
<script type="text/javascript" > 

		//https://victoriaericob.carto.com/tables/departamentos_colombia/public
		console.log("inicia VIZ TS3.2");
	

var promiseWrapper = (d) => new Promise(resolve => d3.json(d, (p) => resolve(p)))
	
/*Promise.all([ 
d3.json("{% static 'eventtia/d3/departamentos_colombia.geo.json' %}")
,d3.json("{% static 'eventtia/d3/ts3_2.json' %}") ])
.then(resolve => {
        showData(resolve[0],resolve[1]);
     });*/
     
Promise.all([ d3.json("{% static 'eventtia/d3/departamentos_colombia.geo.json' %}") ])
.then(resolve => {
        showMap(resolve[0]);
     });

function showMap(datasources0) {    

        console.log("showData");
        let bodyHeight = 750
        let bodyWidth = 900

        let mapInfo = datasources0;
        let dataGraficar = {{countEventList | safe}};    

        //console.log("dataGraficar",dataGraficar);
		//console.log("mapInfo",mapInfo.features);      

        var projecion = d3.geoMercator()
                .scale(2400)

        var geoPath = d3.geoPath()
            .projection(projecion);   

		var body = d3.select("#contenedor").select("#bodyVIZ");	
		
		var text = body
		.append("text")
		.text("Participantes")
		.style("text-anchor","start")
		.style("font-size","14px")
		.style("font-weight","bold")
		
		var svg =  body.append("svg");
	
		var svgSolo =  svg;
		    		
        svg = svg
		.attr("width",bodyWidth)
		.attr("height",bodyHeight).append("g").attr("transform","translate(3000,300)");
		
		
		
		svg.selectAll("path")
		    .data(mapInfo.features)
	        .enter()
		    .append("path")
	        .attr("d", geoPath)
	        .attr("stroke", "#333")
	        .attr("fill", "#ccc")            
		    .on("mouseover",function(d) {					
				d3.select(this)
				.classed("active",true)			
				//console.log(d.properties.departamento)
				text.text(d.properties.departamento)
	  	     })
	  	     .on("mouseout",function(d){  	
				   d3.select(this)
	      			   .classed("active",false)
	    	     })
	    	     
	         .append("title")
	            .text(function(d) {
	                //console.log( d.departamento);
	                return  d.properties.departamento;
	         });



		svg.selectAll("circle")
            .data(dataGraficar.children)
            .enter()
            .append("circle")
            .attr("r", 5)
            .attr("fill", "#0055AA")
            .style("opacity", 0.5)
            .attr("cx", d => projecion([+d.longitude, +d.latitude])[0])
            .attr("cy", d => projecion([+d.longitude, +d.latitude])[1])
		    .append("title")
	            .text(function(d) {
	                //console.log( d.departamento);
	                return  "Evento "+d.event_id+", tipo:"+d.type ;
	            })
	    	.on("mouseover",function(d) {
					d3.select(this)
			  			.classed("active",true)
			     })
  	     	.on("mouseout",function(d){
					d3.select(this)
		  			.classed("active",false)
			     }); 		
    	         	     
///////////////////////////
    	    
    	  	let brush = d3.brush();
    
      		brush.on("brush", function (a,b) {
            let coords = d3.event.selection
            
            svg.selectAll("circle")
               .style("fill", function(d) {
                    let cx = d3.select(this).attr("cx");
                    let cy = d3.select(this).attr("cy");                    
                    let selected = isSelected(coords, cx, cy, 3000,300)
                    if(selected){                         
                      
                      //console.log(d);
                      mostrarTabla(d);                      
                    }
                    return selected ? "red" : "blue"
                })            
        	});
        	
        	svgSolo.attr("class", "brush")
            .call(brush).selectAll('rect')  ;              
    		
 }
 
 var tabla = new Array();
  
 
 
 function mostrarTabla(d){
 
      //console.log("2=",d);
      
	  let agregar = true;
	  
	  let object={
	    event_id:d.event_id,
	    type:d.type,
		amountAttend:1};
		
	  tabla.forEach(function(e){
	      //console.log('t',e);
	     if(e.event_id==d.event_id){
	        agregar=false;
	     }
	  });
	  if(agregar){
	    tabla.push(object);	
	  }
    
        
    /*let out = d3.select(output)  
    out.text(d3.tsvFormat(tabla.slice(0,60)));
    */
    //console.log(tabla);
    
    let sumTotal = tabla.reduce(function(sum, d) {
        return sum + d.amountAttend;
    }, 0);     
    
    d3.select("#consola").text("Total Eventos seleccionados = "+sumTotal);
 
  }
 
 function isSelected(coords, x, y, xt, yt) {
 		xc=(+x + +xt);
        yc=(+y + +yt);
 	
        let x0 = coords[0][0],
            x1 = coords[1][0],
            y0 = coords[0][1],
            y1 = coords[1][1];
        
        return x0 <= xc && xc <= x1 && y0 <= yc && yc <= y1;
    }
 
 function showData(){
 
 }

</script>	
{%endif%}												  
												  

{% endblock tarea %}
