{% extends "eventtia/template.html" %}
{% load static %}
{% block tarea %}

<style>
#svgScroll{
    overflow : auto;
    border: solid 1px #000
} 
</style>

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
  			<div class="col-md-8 ftco-animate">
    			<h1 class="bread">Tarea secundaria 3.1</h1>
  			</div>
		</div>
	</div>
</section>
			
<section class="ftco-section">

	<div class="container">
    	<div class="row">   
    		<h4 class="heading mb-3">Empresa de Eventos Eventtia</h4>   		
			<br>
			<p> Eventtia cuidando su negocio, anonimizó los datos que nos suministró. </p>
			<p> Eventtia provee un servicio en la cúal pagando una suscripción se puede gestionar un evento. </br> 
			En la plataforma no se maneja un ID general del asistente, sino un IDE por evento. 
			De tal manera no se puede relacionar a los asistentes de los diferentes eventos.</br>
		        Por lo anterior, se realizó la relación de los asistente por el <strong>e-mail</strong>	</p>
            <p> Los eventos no tienen un tipo categorico, por lo tanto se tomó la descripción de cada evento y se categorizaron los eventos.</p>
	        <p>Con el anterior tratamiento de los datos, se puede visualizar a cuales eventios y que tipo de eventos asistio un asistente especifico.</p>
                
        </div>
	</div>

  	<div class="container">
    	<div class="row">    
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Identificar el tema de más interés de los participantes, para un año dado. </h4>       
          	</div>     
		</div>
		
		<div class="row">
			<div class="col-sm-12" style="border: solid 1px #000">		
				 <form id="formulario" method="post" action="ts3_1"> 
				  {% csrf_token %}
				  {{ formset }}
				  <button type="submit" class="btn btn-primary">Visulaizar</button>				  
				 </form> 
			</div>		
					
		</div>		
		
		<div class="row"> 
    	  	<div class="media-body p-2 mt-2">
            	<h4 class="heading mb-3">Participantes por Temas de los Eventos  {% if buscado is not null%} , año {{buscado}} {%endif%}</h4>
          	</div> 
		</div>
		
		
		<div class="row">	
			<div id="contenedor" >
				<g id="bodyVIZ" style="transform:translate(0,0px)"></g>	    		
			</div>
		</div>
	</div>
<script type="text/javascript" > 
	function submitVIZ(){
			console.log("submitVIZ");
			document.forms['formulario'].submit();
			
	}
</script>

		<script type="text/javascript" src="{% static 'eventtia/d3/d3.js' %}"> </script>
		
		{%if countTypelist is not null %}
		
		<script type="text/javascript" > 
		console.log("inicia VIZ TS3.1")
		
		let dataset = {{countTypelist | safe}}
		
		/*dataset = {
            "children": [{"Name":"Tecnologia","Count":4319},
                {"Name":"Sociales","Count":4159},
                {"Name":"Culinaria","Count":2583},
                {"Name":"Arte","Count":2074},
                {"Name":"Historia","Count":1894},
                {"Name":"Politica","Count":1809},
                {"Name":"Gobierno","Count":1100}]
        };**/
        
        console.log('dataset',dataset);

        var diameter = 600;
        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var bubble = d3.pack(dataset)
            .size([diameter, diameter])
            .padding(1.5);

		var svg = d3.selectAll("#contenedor").select("#bodyVIZ")
            .append("svg")
	    .attr("id","svgScroll")
            .attr("width", diameter)
            .attr("height", diameter)
            .attr("class", "bubble");

        var nodes = d3.hierarchy(dataset)
            .sum(function(d) { return d.Count; });

        var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function(d){
                return  !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            });

        node.append("title")
            .text(function(d) {
                return "Eventos Tipo "+d.data.Name + ": Asistentes" + d.data.Count;
            });

        node.append("circle")
            .attr("r", function(d) {
                return d.r;
            })
            .style("fill", function(d,i) {
                return color(i);
            });

        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function(d) {
                return d.data.Name.substring(0, d.r / 3);
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){
                return d.r/5;
            })
            .attr("fill", "white");

        node.append("text")
            .attr("dy", "1.3em")
            .style("text-anchor", "middle")
            .text(function(d) {
                return d.data.Count;
            })
            .attr("font-family",  "Gill Sans", "Gill Sans MT")
            .attr("font-size", function(d){
                return d.r/5;
            })
            .attr("fill", "white");

        d3.select(self.frameElement)
            .style("height", diameter + "px");
		
		
		</script>	
		{%endif%}
		
		
		
<div class="container">
    <div class="row">   
    	<h4 class="heading mb-3">Vizualización</h4>
    		<p><strong>Parametros: </strong>Se deben seleccionar el año y la cantidad minima de eventos a la que participa un participante. Luego presionar el botón "Vizualizar" </p>
    		<p><strong>Descripción: </strong>En el eje de las "Y" se muestran los correos de los asistentes organizados alfabeticamente, en el eje de las "X" se muestran los eventos organizados alfabeticamente.</br>
    			Si un asistente, asistió a un evento la intersección se colorea.</br>
    			Los diferentes colores, son los diferentes tipos de eventos.
    		</p>
			<p><strong>Interactividad:</strong> Al colocar el puntero del mouse, sobre una intersección se muestra un tooltip con el tipo del evento. </p>
			<p><strong>Nota: </strong>Los datos están anonimizados para proteger los datos de la empresa. La VIZ está configurado para mostrar maximo 100 asistentes por 45 eventos maximos. Y de 2 a 15 cantidad de asistencias</p>
	</div>
</div>
<div class="container">
	<div class="row">    
		<h4 class="heading mb-3">Preparación de datos</h4>		
		 <iframe src="{% static 'eventtia/html/tp3_preparacionDatos.html' %}" name="iframe_a" height="100%" width="100%"></iframe>
		
	</div>
</div>
</section>
	    

{% endblock tarea %}
